@import '/src/frontend/styles/common/gem.scss'

.platform-nav
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: gem(64)
    background-color: gray
    z-index: 9999
    border-bottom-left-radius: gem(32)
    border-bottom-right-radius: gem(32)
    &__list
        display: flex
        align-items: center
        justify-content: space-evenly
        width: 100%
