@import '/src/frontend/styles/common/gem.scss'
.router-link
    width: auto
    height: auto
    color: inherit
    text-decoration: none
    font-size: inherit
    font-weight: inherit
    line-height: inherit
    &__button
        padding: gem(10) gem(16)
        border-radius: gem(12)
        background-color: gray
